.bg {
    /* The image used */
    height: 100vh;
    position: relative;
    background-size: cover;
    background-image: url("/main.png");
}
.initialText{
    margin-left: 50px;
    padding-top: 100px;
    width: 80vh;
    height: auto;
}

.buttons{
    display: flex;
    width: 30vh;
    margin-left: 50px;
}